.checkout {
  &__wrapper {
    display: flex;
    @include adaptiv-value(column-gap, 70, 20, 0);
    margin: rem(40) 0 0;

    @media (max-width: $mobile) {
      flex-direction: column;
      row-gap: rem(80);
    }
  }

  &__left {
    flex: 0 1 percent(550, 1200);
  }

  &__right {
    padding-top: rem(10);
    flex: 0 1 percent(580, 1200);
  }

  &__item {
    margin-bottom: rem(80);

    &.active {
      display: block;
    }

    @media (max-width: $tablet) {
      & .form__header {
        flex-direction: column-reverse;
        align-items: flex-start;
        row-gap: rem(30);
      }
    }

    @media (max-width: $mobile) {
      margin-bottom: rem(60);
    }
  }

  &__footer {
    display: flex;
    column-gap: rem(50);
    align-items: center;
  }

  &__return {
    text-decoration: underline;
    padding: 0;
  }

  &__discount {
    margin: rem(60) 0 rem(40);
    padding-top: rem(60);

    border-top: 1px solid rgba(134, 137, 143, 0.2);
  }

  &__discount__btn {
    width: rem(200);
    max-height: rem(45);
  }

  &__subtotal {
    padding: rem(30) 0;

    border-top: 1px solid rgba(134, 137, 143, 0.2);
    border-bottom: 1px solid rgba(134, 137, 143, 0.2);
  }

  &__total {
    margin-top: rem(35);
  }
}

.checkout-prices {

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .checkout__subtotal & {
      &:not(:last-child) {
        margin-bottom: rem(14);
      }
    }
  }

  &__title {
    font-size: rem(16);
    line-height: 1.45;
    color: rgba(25, 25, 25, 0.7);

    &_total {
      font-weight: 600;
      font-size: rem(20);
      text-transform: uppercase;
      color: var(--black);
    }
  }

  &__price {
    font-weight: 600;
    font-size: rem(20);
    line-height: 1.45;
    color: var(--black);

    &_total {

      font-size: rem(24);
    }
  }
}