.sellers {

  &__wrapper {
    position: relative;
    margin-top: rem(30);
  }

  &__item {
    margin-bottom: rem(20);
    padding: rem(52) 0 rem(30);

    text-align: center;
    border-radius: rem(5);

    &.swiper-slide-active,
    &:hover {
      background-color: var(--white);
      box-shadow: 0px 9px 58px rgba(0, 0, 0, 0.07), 0px 8px 12.9551px rgba(0, 0, 0, 0.0417275), 0px 4px 3.85706px rgba(0, 0, 0, 0.0282725);

      & .sellers__info {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__preview {
    display: block;
    margin-bottom: 25px;
    user-select: none;
  }

  &__info {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
  }

  &__title {
    margin-bottom: em(15);

    font-size: rem(22);
    color: var(--black);
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.01em;
  }

  &__prices {
    display: flex;
    column-gap: em(10);
    justify-content: center;
    margin-bottom: em(20);
  }

  &__price {
    font-size: var(--regular-size);
    color: var(--black);
    letter-spacing: 0.01em;
    line-height: 1.2;
    font-weight: 600;

    &_old {
      font-weight: 400;
      text-decoration: line-through;
      color: var(--grey);
      opacity: 0.5;
    }
  }
}