<div class="modal" id="cartPopup">
    <div class="modal__window">
        <div class="modal__header">
            <button class="modal__close btn_icon">
                <svg>
                    <use href="@img/icons/icons.svg#close"></use>
                </svg>
            </button>
            <div class="modal__title">GirlGotBrows Terms and Conditions</div>
        </div>
        <div class="modal__body">
            <div class="modal__subtitle">All products are for professional use only</div>
            <form class="modal__form" action="checkout-1.html">
                <button class="modal__btn modal__btn_close btn_icon" type="submit" data-close>Close</button>
                <label class="form__label form__label_checkbox" for="cartPopupInput">
                    <input
                        class="form__checkbox" 
                        type="checkbox" 
                        name="cartPopupCheckbox" 
                        id="cartPopupInput"
                        required>
                    <span class="form__box"></span>
                    I acknowledge
                </label>
            </form>
        </div>
    </div>
</div>