<div class="modal" id="distributorsPopup">
    <div class="modal__window">
        <div class="modal__header">
            <button class="modal__close btn_icon">
                <svg>
                    <use href="@img/icons/icons.svg#close"></use>
                </svg>
            </button>
            <div class="modal__body">
                <div class="modal__title">Thank you! Your application has been accepted</div>
            </div>
        </div>
    </div>
    <div class="modal__overlay"></div>
</div>