<div class="modal" id="passwordPopup">
    <div class="modal__window">
        <div class="modal__header">
            <button class="modal__close btn_icon">
                <svg>
                    <use href="@img/icons/icons.svg#close"></use>
                </svg>
            </button>
            <div class="modal__title">The instruction has been sent!</div>
        </div>
        <div class="modal__body">
            <div class="modal__subtitle">Password recovery instructions have been sent to name@gmail.com</div>
            <div class="modal__text">You will receive our letter within 5 minutes. Make sure it didn't end up in your spam folder. Submit again.</div>
        </div>
    </div>
</div>