<div class="modal" id="tutorialPopup">
    <div class="modal__window">
        <div class="modal__header">
            <button class="modal__close btn_icon">
                <svg>
                    <use href="@img/icons/icons.svg#close"></use>
                </svg>
            </button>
        </div>
        <div class="modal__body modal__body_large">
            <div class="modal__title">Be the first one to know about our exclusive offers and much more!</div>
            <div class="form__input__wrapper">
                <input
                    class="form__input modal__input"
                    type="email"
                    placeholder="Enter email address">
                <button class="footer__btn footer__btn_black btn_icon" type="submit">OK</button>
            </div>
            <div class="modal__form">
                
                <label class="form__label form__label_checkbox" for="cartPopupInput">
                    <input
                        class="form__checkbox" 
                        type="checkbox" 
                        name="cartPopupCheckbox" 
                        id="cartPopupInput">
                    <span class="form__box"></span>
                    <span>I agree with the </span>
                    <a href="#">Privacy Policy</a> 
                </label>
            </div>
        </div>
    </div>
</div>