:root {
  --regular-size: 1rem;

  /* Colors */
  --black: #191919;
  --white: #FFF;
  --red: #FF1717;
  --background: #F5F5F5;
  --grey: #86898F;
  --divider: #BDC2CF;
  --hover: #C8C5BB;
}

$browser-fontsize: 16;
$container-padding: 30px;
$container-maxwidth: 1200px;

/* Media */
$laptop: 1140px;
$tablet: 992px;
$mobile: 769px;
$mobile-sm: 576px;
$mobile-xs: 446px;
$mobile-min: 375px;
