:root {
    font-size: 62.5%;
    --regular-size: 1.6rem;

    /* Colors */
    --black: #191919;
    --white: #FFF;
    --red: #FF1717;
    --background: #F5F5F5;
    --grey: #86898F;
    --divider: #E2E1DB;
    --hover: #C8C5BB;
}